@import "../../themes.scss";

.center-allourproduct {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;

  .main-items {
    // margin: 50px 0px;
    // background-color: red;
    width: $width-container;

    .all-product {
      .slide-title {
        text-align: center;
        font-family: $font-title;
        font-size: $font-subtitle-size;
        color: $primary-color;
        text-decoration: underline;

        @include laptop {
          font-size: $font-title-laptop;
        }
        @include tablet {
          font-size: $font-title-tablet;
        }
        @include mobile-large {
          font-size: $font-body-size;
        }
        @include mobile {
          font-size: $font-body-size;
        }
        @include mobile-small {
          font-size: $font-body-size;
        }
      }
    }

    .slide-items {
      display: flex;
      justify-content: center;

      .our-product {
        width: $width-container;

        .product-container {
          padding: 28px 20px;
          .box-layout {
            width: 100%;
            .text-title {
              font-size: $font-subtitle-laptop;
              color: $primary-color;
              text-align: center;
              font-family: $font-title;
              line-height: 2.5;

              @include laptop {
                font-size: $font-subtitle-laptop;
                line-height: 1.5;
              }
              @include tablet {
                font-size: $font-subtitle-tablet;
              }
              @include mobile-large {
                font-size: $font-body-size;
              }
              @include mobile {
                font-size: $font-body-tablet;
              }
              @include mobile-small {
                font-size: $font-body-tablet;
              }
            }

            .name-productdetail {
              color: $primary-color;
              text-align: center;
              font-family: $font-body;
              line-height: normal;
              font-size: $font-body-tablet;

              @include laptop {
                
                font-size: $font-body-tablet;
              }
              @include tablet {
                font-size: $font-body-tablet;
              }
              @include mobile-large {
                font-size: 18px;
              }
              @include mobile {
                font-size: 16px;
              }
              @include mobile-small {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .all-product2 {
      width: 100%;
      .slide-title2 {
        width: 100%;
        text-align: center;
        font-size: $font-subtitle-size;
        font-family: $font-title;
        color: $primary-color;
        text-decoration: underline;

        @include laptop {
          font-size: $font-title-laptop;
        }

        @include tablet {
          font-size: $font-title-tablet;
        }

        @include mobile-large {
          font-size: $font-body-size;
        }
        @include mobile {
          font-size: $font-body-size;
        }

        @include mobile-small {
          font-size: $font-body-size;
        }
      }
    }

    .slide-items1 {
      display: flex;
      justify-content: center;
      height: 650px;

      @include laptop {
        height: 620px;
      }
      @include tablet {
        height: 600px;
      }
      @include mobile-large {
        height: 600px;
      }
      @include mobile {
        height: 500px;
      }
      @include mobile-small {
        height: 500px;
      }
      .our-product {
        width: $width-container;

        .product-container {
          padding: 28px 20px;
          .box-layout {
            width: 100%;
            .text-title {
              font-size: $font-subtitle-laptop;
              color: $primary-color;
              text-align: center;
              font-family: $font-title;
              line-height: 2.5;

              @include laptop {
                line-height: 2;
                font-size: $font-subtitle-laptop;
              }
              @include tablet {
                font-size: $font-subtitle-tablet;
              }
              @include mobile-large {
                font-size: $font-body-tablet;
              }
              @include mobile {
                font-size: $font-body-tablet;
              }
              @include mobile-small {
                font-size: $font-body-tablet;
              }
            }

            .name-productdetail {
              color: $primary-color;
              text-align: center;
              font-family: $font-body;
              line-height: normal;
              font-size: $font-body-tablet;

              @include laptop {
                font-size: $font-body-tablet;
              }
              @include tablet {
                font-size: $font-body-tablet;
              }
              @include mobile-large {
                font-size: 18px;
              }
              @include mobile {
                font-size: 16px;
              }
              @include mobile-small {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
