@import "../../themes.scss";

.box-product {
  width: 100% !important;
  // background-color: red;
 
  .slide-product {

    .slick-arrow {
      display: none !important;
    }

    .slick-dots li button:before {
      display: inherit !important;
      background-color: #fff;
      font-family: "slick";
      font-size: 10px !important;
      line-height: 30px !important;
      margin-top: -20px;
    }

    .box-main-product {      

      .box-stack {
        width: 100%;
        display: flex;
        justify-content: center !important;

        .stack-main-product {
          display: flex;
          @include tablet {
            display: block;
          }
          @include mobile-large {
            display: block;
          }
          @include mobile {
            display: block;
          }
          @include mobile-small {
            display: block;
          }
          width: $width-container;
          @include laptop {
            width: $width-laptop;
          }
          @include tablet {
            width: $width-laptop;
          }
          @include mobile-large {
            width: $width-laptop;
          }
          @include mobile {
            width: $width-laptop;
          }
          @include mobile-small {
            width: $width-laptop;
          }

          .products-title {
            width: 60%;
            height: fit-content;
            margin-top: 260px;

            @include laptop {
              width: 100%;
              margin-top: 180px;
            }
            @include tablet {
              width: 100%;
              margin-top: 60px;
            }
            @include mobile-large {
              width: 100%;
              margin-top: 60px;
            }
            @include mobile {
              width: 100%;
              margin-top: 60px;
            }
            @include mobile-small {
              width: 100%;
              margin-top: 60px;
            }

            .slide-title {
              font-size: $font-title-size;
              font-family: $font-title;
              color: #fff;
              @include laptop {
                font-size: $font-title-laptop;
              }
              @include tablet {
                font-size: $font-title-tablet;
              }
              @include mobile-large {
                font-size: $font-title-tablet;
              }
              @include mobile {
                font-size: $font-title-tablet;
              }
              @include mobile-small {
                font-size: $font-title-tablet;
              }
            }
            .slide-body {
              font-family: $font-body;
              color: #fff;
              margin-top: 40px;
              font-size: $font-body-size;
              @include laptop {
                margin-top: 20px;
                font-size: $font-body-laptop;
              }
              @include tablet {
                margin-top: 20px;
                font-size: $font-body-laptop;
              }
              @include mobile-large {
                margin-top: 20px;
                font-size: $font-body-laptop;
              }
              @include mobile {
                margin-top: 20px;
                font-size: $font-body-laptop;
              }
              @include mobile-small {
                margin-top: 20px;
                font-size: $font-body-laptop;
              }
            }
            .btn-viewmore {
              margin-top: 80px;
              border-radius: 40px;
              width: 300px;
              padding: 30px 0px;
              text-align: center;
              color: $primary-color;
              font-size: $font-body-size;
              font-family: $font-body;
              @include laptop {
                margin-top: 40px;
                font-size: $font-body-size;
              }
              @include tablet {
                padding: 24px 0px;
                width: 200px;
                margin-top: 40px;
                font-size: $font-body-tablet;
              }
              @include mobile-large {
                padding: 24px 0px;
                width: 200px;
                margin-top: 40px;
                font-size: $font-body-tablet;
              }
              @include mobile {
                padding: 24px 0px;
                width: 200px;
                margin-top: 40px;
                font-size: $font-body-tablet;
              }
              @include mobile-small {
                padding: 24px 0px;
                width: 200px;
                margin-top: 40px;
                font-size: $font-body-tablet;
              }
            }
          }
          .products-picture {
            width: 40%;
            display: flex;
            justify-content: right;
            z-index: 100;
            margin-bottom: -170px;
            @include laptop {
              width: 100%;
              justify-content: center;
            }
            @include tablet {
              width: 100%;
              justify-content: center;
            }
            @include mobile-large {
              width: 100%;
              justify-content: center;
            }
            @include mobile {
              width: 100%;
              justify-content: center;
            }
            @include mobile-small {
              width: 100%;
              justify-content: center;
            }

            .main-image {
              width: 600px !important;
              @include laptop {
                margin-top: 20px;
                width: 500px !important;
              }
              @include tablet {
                margin-top: 20px;
                width: 400px !important;
              }
              @include mobile-large {
                margin-top: 20px;
                width: 600px !important;
              }
              @include mobile {
                margin-top: 20px;
                width: 600px !important;
              }
              @include mobile-small {
                margin-top: 20px;
                width: 600px !important;
              }
            }
          }
        }
      }

      .slide-point {
        padding-top: 200px;
        // height: 200px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        color: $primary-color;
      }
    }
  }
}
