html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Preahvihear;
  src: url("/assets/font/Preahvihear.ttf");
}

@font-face {
  font-family: Kantumruy;
  src: url("/assets/font/Kantumruy-Regular.ttf");
}

.kantumruyFont {
  font-family: Kantumruy !important;
}